*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text

# Exception pour les fichiers du dossier public (petits fichiers)
public/*.png !filter=lfs
public/*.jpg !filter=lfs
public/*.jpeg !filter=lfs